@(user: User, band: Band)

@main(user) {
	<header>
		<hgroup>
			<h1>@band.name</h1>
			<h2 id="created">Created: @band.created</h2>
			<h2 id="randomize">Randomize: @band.randomize</h2>
			<h2 id="reveal">Reveal: @band.reveal</h2>
		</hgroup>
	</header>

	<article id="members">
		<h3>Members:</h3>
		<ul>
			@band.participations.map { part =>
				@if(part.participant == band.operator) {
					<li id="operator">@part.participant.name</li>
				} else {
					<li>@part.participant.name</li>
				}
			}
		</ul>
	</article>

	<article id="yourTargets">
		<h3>Your targets</h3>
	</article>

	<article id="myWishes">
		<h3>My wishes</h3>
		<ul>
			@band.getWishes(user.id).map { wish =>
				<li>
					@wish.description<br />
					<button id="edit@wish.id">Edit</button>
					<button id="delete@wish.id">Delete</button>
					<div class="deleteElement" id="deleteConfirm@wish.id">
						Do you really want delete this wish?
						<button id="deleteYes@wish.id">Yes</button>
						<button id="deleteNo@wish.id">No</button>
					</div>
				</li>
			}
		</ul>
		<form id="addWish">
			<textarea name="description" rows="5" cols="70" placeholder="Write new wish..."></textarea><br />
			<input type="submit" value="Add" />
		</form>
	</article>
}