@(user: User)(content: Html)
<!DOCTYPE html>
<html>
<head>
    <title>LahjaPulkki</title>
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/underscore-min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/backbone-min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
<!--	<script type="text/javascript" src=" LISÄÄ AT-MERKKI routes.Application.javascriptRoutes"></script> -->
</head>

<body>
    <header id="bar">
	    <a href="@routes.Application.index" id="logo">Lahja<span>Pulkki</span></a>
	    <dl id="loggedUser">
		    <dt>@user.name</dt>
		    <dd><a href="@routes.Application.logout()">Logout</a></dd>
	    </dl>
    </header>

    <nav>
	    <h4>My bands</h4>
	    <ul id="myBands">
		    @user.participations.map { part =>
		        <li>
			        <a href="@routes.Bands.band(part.band.id)">@part.band.name</a>
		        </li>
		    }
	    </ul>
    </nav>
	<section id="main">
        @content
	</section>
</body>
</html>
